{{- if or .Site.Params.widgets.contact }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">Contactgegevens</h4>
	<div class="widget-social__content widget__content">
		<div class="widget-social__item widget__item">
			<p>
				Spinnerij Oosterveld<br />
				Rigtersbleek Zandvoort 10<br />
				7521 BE Enschede<br />
				Lokaal 2.08 (2e verdieping)<br />
				Tel. Nr : 06-10745590
			</p>
			<p>
				Email: <a href="mailto:bestuur@tkkrlab.nl" class="underline">bestuur@tkkrlab.nl</a>
			</p>
		</div>
	</div>
</div>
{{- end }}
